---
import { getSortedPosts } from "@utils/content-utils";
import { getRecordUrlBySlug } from "@utils/url-utils";

export async function getStaticPaths() {
	const entries = await getSortedPosts();
	return entries.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}

const { entry } = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="refresh" content={`0; url=${getRecordUrlBySlug(entry.slug)}`} />
		<link rel="canonical" href={getRecordUrlBySlug(entry.slug)} />
		<title>Redirecting...</title>
	</head>
	<body>
		<p>Redirecting to <a href={getRecordUrlBySlug(entry.slug)}>{getRecordUrlBySlug(entry.slug)}</a>...</p>
	</body>
</html>
