---
import { url } from "@utils/url-utils";

export function getStaticPaths() {
	return [];
}
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="refresh" content={`0; url=${url("/records/")}`} />
		<link rel="canonical" href={url("/records/")} />
		<title>Redirecting...</title>
	</head>
	<body>
		<p>Redirecting to <a href={url("/records/")}>/records/</a>...</p>
	</body>
</html>
