---
import BackToTop from "@components/control/BackToTop.astro";
import Footer from "@components/Footer.astro";
import Navbar from "@components/Navbar.astro";
import Layout from "@layouts/Layout.astro";

interface Props {
	title?: string;
	description?: string;
	lang?: string;
	showFooter?: boolean;
}

const { title, description, lang, showFooter = true } = Astro.props;
---

<Layout title={title} description={description} lang={lang}>
	<div class="min-h-screen">
		<div class="max-w-[var(--page-width)] px-0 md:px-4 mx-auto">
			<div class="sticky top-0 z-50">
				<Navbar />
			</div>
			<main class="pt-4 md:pt-6">
				<slot />
				{showFooter && (
					<div class="pb-6 md:pb-8">
						<Footer />
					</div>
				)}
			</main>
		</div>
		<BackToTop />
		<div id="toc"></div>
	</div>
</Layout>
